@model Tirelire_Jamal.Models.Client
@inject Tirelire_Jamal.Calculs.ICalcul calcul

@{
    ViewData["Title"] = "Commande";

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            @Html.ActionLink("Accueil", "Index", "Home")
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Commande
        </li>
    </ol>
</nav>
<br />
<div class="titre_visiteur mx-2 d-flex justify-content-between mb-3">
    <div class="titre">
        Liste des Commandes de @if (User.Identity.IsAuthenticated)
        {
            <span>@Model.Nom</span>
        }
    </div>
</div>
<br />

@if (Model.Commande.Count > 0 || Model.Commande != null)
{
    foreach (var cmde in Model.Commande)
    {
        <div class="titre_visiteur mx-2 d-flex justify-content-between mb-3">
            <div class="titre">
                Date : @cmde.Date
            </div>
            <div class="titre">
                Status : @cmde.Status
            </div>
        </div>

        <div class="commandeInfo px-5">
            <table class="commande w-100 ">
                <thead class="thead-light ">
                    <tr>
                        <th>Produit</th>
                        <th>Image</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>HxLxl</th>
                        <th>Poids</th>
                        <th>Frais</th>
                        <th>ssTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @{ double Total = 0;}
                    @foreach (var detail in cmde.DetailCommande)
                    {
                        <tr>
                            @{Produit prod = new Produit();
                            }

                            @foreach (var item in (ViewBag.prods as List
<Produit>
))
                            {
                                if (detail.Idproduit == item.Id)
                                {
                                    prod = item;
                                    break;
                                }
                            }
                            <td>@prod.Nom</td>
                            <td><img src="@prod.Image" height="30" width="30" alt="img_produit" /></td>
                            <td>@detail.Prix €</td>
                            <td>@detail.Quantite</td>
                            <td>@prod.Hauteur x @prod.Longueur x @prod.Largeur</td>
                            <td>@prod.Poids kg</td>
                            <td>@prod.Frais kg/€</td>
                            <td class="font-weight-bold">@calcul.ssTotal(detail) €</td>
                        </tr>
                        Total += calcul.ssTotal(detail);
                    }@*Foreach detail*@
                    <tr>
                        <th>Total</th>
                        <td colspan="6"></td>
                        <td class="font-weight-bold text-danger">@Total €</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h5 class="slide down">Commentaire</h5>
            <div id="texteSlide">
                @{
                    bool valide = (bool)cmde.Avis.Where(a => a.Idcommande == cmde.Id).FirstOrDefault().Valide;
                    if (valide)
                    {
                        @cmde.Commentaire
                    }
                }
            </div>
        </div>
        <div class="hr"></div>
    }//Foreach Commande
}
else
{
    <div class="panierVide row m-0  m-auto">
        <h1 class=" text-black-50 text-center m-auto ">Aucune Commande</h1>
    </div>

}



@section scripts
{
    <script src="~/js/Slide.js"></script>
}