@model Tirelire_Jamal.Models.Produit
<!-- Modal Panier-->
<div class="modal fade" id="modalPanier" tabindex="-1" role="dialog" aria-labelledby="modalPanierTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header mx-0  p-0">
                <h4 class="modal-title text-center text-white w-100  py-2" style="background-color:#708090;">Votre Panier a été ajouté</h4>
            </div>


            <div class="modal-body">
                <div class="row mx-0">

                    <div class="imgModalPanier col-6">
                        <h4>@Model.Nom</h4>
                        <img src=@Model.Image alt="imgModalDetail" class="w-100" />

                    </div>
                    <div class="infoModalPanier row col-6">
                        <table class="table align-self-end mb-0">
                            <tbody>
                                <tr>
                                    <th>Prix</th>
                                    <td class="prixModal">@ViewBag.infoPanierModal[0]€</td>
                                </tr>
                                <tr>
                                    <th>Quantité</th>
                                    <td class="quantiteModal">@ViewBag.infoPanierModal[1]</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="totalModal">@ViewBag.infoPanierModal[2]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around">
                <a href="@Url.Action("Index","Home")" class="btn btn-info btn-lg mb-3  ml-3">Pousuivre mes achats</a>
                <a href="@Url.Action("DetailPanier","Panier")" class="btn btn-info btn-lg mb-3 mr-3">Valider mon Panier</a>
            </div>
        </div>
    </div>
</div>

@*data-backdrop="false"*@



<style>
    .modal-backdrop {
        z-index: 1 !important;
    }

    .modal-dialog {
        z-index: 2500 !important;
    }
</style>