@model Tirelire_Jamal.Services.DetailColor;
@{
    ViewData["Title"] = "Detail";
}

<script src="jquery-3.5.1.min.js"></script>
<script src="/js/Tirelire.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            @Html.ActionLink("Accueil", "Index")
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Détail
        </li>
    </ol>
</nav>

@Html.Partial("_titreVisiteur")

@*Detail*@
<div class="detail d-flex justify-content-center">
    <div class="card mb-3 col-10">
        <div class="row no-gutters">
            <div class=" imgDetail py-4 col-lg-5 col-md-5 col-sm-5">
                <img src=@Model.produit.Image class="card-img" alt="imgProduit">
            </div>
            <div class="justify-content-center mt-lg-5 col-lg-7 col-md-7 col-sm-7">
                <div class="card-body mt-lg-5">
                    <h2 class="card-title">@Model.produit.Nom</h2>

                    <h4 class="card-title">LxHxL(cm): @Model.produit.Longueur<span>x</span>@Model.produit.Hauteur<span>x</span>@Model.produit.Largeur</h4>

                    <h4 class="card-title">Poids: @Model.produit.Poids kg</h4>

                    <h4 class="card-title">Prix: @Model.produit.Prix€</h4>

                    <h4 class="card-title">Quantité</h4>

                    <div class="form" action="" method="post">
                        <div class="form-group">
                            <input class="btn btn-outline-success btn-lg form-control" type="number" value="1" min="1">
                            <button type="submit" class="btn btn-success btn-lg mt-2 form-control">Ajouter au Panier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*Description*@
<div class="descriptionDetail">
    <div class="titre_visiteur mx-2 d-flex justify-content-between mb-3">
        <div class="titre">
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Description
            </a>

        </div>
    </div>
    <div class="collapse  mb-5" id="collapseExample">
        <div class="card card-body">
            @Model.produit.Description
        </div>
    </div>
</div>


@*Tirelire couleur identique*@
<div class="titre_visiteur mx-2 d-flex justify-content-between mb-3">
    <div class="titre">
        Tirelire(s) de même couleur
    </div>
</div>

<div class="container carousseDetail  col-2 col-sm-4">
    @Html.Partial("_carrousel", Model.colorProduit)
</div>




